
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    /* min-height: 100vh; */
    display: flex;
    flex-direction: column;
    
}

.header, .section-1, .footer {
    /* dark background color (hero and footer)
#1F2937 */
    background-color: #1f2937;
    font-family: Arial, Helvetica, sans-serif;
    color: #F9FAF8;


}

.header{
    /* border: 2px solid red; */
    /* height: 75px; */
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    flex-shrink: 3;
    padding: 8px;

    font-weight: 900;
    font-size: 42px;
    text-align: center;
    color: rgb(247, 241, 241);


}

ul{
    display: flex;
    
    text-decoration: none;
}

.social{
    height: 35px;
    width: 35px;
    text-align: right;
}

.logo img {
    width: 75px;
    height: auto;
    
}

.section-1{
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.castle{
    /* border: 1px solid #fff; */
    /* flex-shrink: 2; */
    width: 30%;
    height: auto;
    align-self: flex-start;

    
}

.history{
    /* border: 1px solid #fff; */
    /* min-width: 50% ; */
    flex-grow: 4;
    padding: 5px;
}

.section-2{
    display: flex;
    flex-direction: column;
}

.section-2.body, .section-2.header {
    padding: 20px;
}

.section-2.body{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

