* {
    margin: 0;
    padding 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;


}

.header, .section-1, .section-2, .section-3, .section-4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;

}



.header, .section-1, .footer {
    /* border: 1px solid red; */

    background-color: #1F2937;
    color: aliceblue;

}

.socialmedia {
    /* border: 1px solid red; */

    display: flex;
    align-items: flex-end;
    gap: 12px;
    list-style: none;
}

.section-1 {
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 25px;
    

}

.leftside{
    padding: 0;
    flex-direction: column;
    align-items: start;
}



h2 {
    font-size: 48px;
    color: #F9FAF8;
}

p {
    font-size: 18px;
    color: #E5E7EB;
    padding-top: 16px;
    padding-bottom: 16px;

}

.rightside{
    padding: 0;
    margin: 0;
    border: 1px solid azure;
}

img{
    display: flex;
    flex-shrink: 4;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 5px;
    border: none;
    width: 75px;
    height: 40px;
}

.section-2 h2{

    font-size: 36px;
    color: #1F2937;
    padding: 30px 0;

}

.section-2{
    display: flex;
    flex-direction: column;
    padding: 80px 200px;
}

.section-2 li {

    list-style: none;
}

.square {

    width: 150px;
    height: 150px;
    border: 2px solid blue;
    border-radius: 10px;
    margin-bottom: 10px;
}

.squares {
    display: flex;
    flex-direction: row;
    gap: 55px;
    /* flex-wrap: wrap; */

}


h3 {
    font-size: 18px;
    color: #E5E7EB;
}

ul{
    display: flex;
    justify-content: center;

}


li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.section-3{
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 225px;

}

.section-3 p{
    color: #1F2937;
    font-size: 32px;
    font-style: italic;
    font-weight: lighter;
}

.section-3  h3{
    color: #1F2937;
    font-size: 32px;
    font-weight: bold;
    align-self: flex-end;
}

.section-4{
    margin: 80px 200px;
    padding: 25px;
    border-radius: 20px;
    background-color: #3882F6;
}

.section-4 button{
    border: 2px solid white;
}

.footer{
    text-align: center;
}